/* 栅格布局 (媒体查询的变量)
 * 参考：https://developer.mozilla.org/zh-CN/docs/Learn/CSS/CSS_layout/Media_queries
 * $xs: >= 0px;
 * $sm: >= 576px;
 * $md: >= 768px;
 * $lg: >= 992px;
 * $xl: >= 1200px;
 * $xxl: >= 1600px;
*/

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
