/* global style scss */

// 整体main窗口容器
.snow-page {
  box-sizing: border-box;
  flex: 1;
  padding: $padding;
  overflow-y: auto;
  background: $color-fill-1;
}

// 内部main窗口容器
.snow-inner {
  padding: $padding;
  background: $color-bg-1;
}

// 没有边距的main窗口容器
.snow-page-pure {
  box-sizing: border-box;
  flex: 1;
  overflow-y: auto;
  background: $color-fill-1;
}

// 铺满main窗口-有内边距
.snow-fill {
  height: 100%;
  padding: $padding;
  overflow: hidden;
  background: $color-fill-1;
}

// 铺满main窗口-内部-有内边距
.snow-fill-inner {
  box-sizing: border-box;
  height: 100%;
  padding: $padding;
  background: $color-bg-1;
}
