/* global style scss */

// 整体main窗口容器
.snow-page {
  flex: 1;
  padding: $padding;
  box-sizing: border-box;
  overflow-y: auto;
  background: $color-fill-1;
}

// 内部main窗口容器
.snow-inner-page {
  padding: $padding;
  background: $color-bg-1;
}

// 没有边距的main窗口容器
.snow-page-pure {
  flex: 1;
  box-sizing: border-box;
  overflow-y: auto;
  background: $color-fill-1;
}