@import "./global-theme.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
