@import "./global-theme.scss";
@import "./global-transition.scss";
@import "./global-style.scss";
@import "./loading-page.scss";
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// 设置全局颜色-关联黑暗模式
body {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  // color-scheme: dark; // 这个属性设置后，滚动条也能表现为暗色模式
}
