@import "./global-theme.scss";
@import "./global-transition.scss";
@import "./global-style.scss";
@import "./loading-page.scss";
@import "./card-animation.scss";
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// 设置全局颜色-关联黑暗模式
// 全局取一级容器背景色$color-bg-2，main窗口取边框色浅色$color-border-1
body {
  background: $color-bg-2; // body背景颜色
  color: $color-text-1; // 整体文字的颜色
}
