@import "./global-theme.scss";
@import "./global-transition.scss";
@import "./global-style.scss";
@import "./loading-page.scss";
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 14px;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// 设置全局颜色-关联黑暗模式
body {
  background: $color-bg-2; // body背景颜色
  color: var(--color-text-1); // 整体文字的颜色
}
